* {
  font-family: "GohuFont 14 Nerd Font", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

window#waybar {
  background-color: #2d3436;
  color: #ffffff;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #cad3f5;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  background-color: transparent;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
  padding: 0 10px;
  color: #cad3f5;
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

@keyframes blink {
to {
  background-color: #ffffff;
  color: #000000;
}
}

#battery.critical:not(.charging) {
  background-color: #ed8796;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#power-profiles-daemon {
  padding-right: 15px;
}

#power-profiles-daemon.performance {
  background-color: #ed8796;
}

#power-profiles-daemon.balanced {
  background-color: #7dc4e4;
}

#power-profiles-daemon.power-saver {
  background-color: #a6da95;
}

#network.disconnected {
  background-color: #ed8796;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  background-color: #2d3436;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
  background-color: transparent;
}

#privacy {
  padding: 0;
}

#privacy-item {
  padding: 0 5px;
  background: rgba(0, 0, 0, 0.2);
}
